@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background-image: url("/keyvisual.webp");
  background-size: cover;
}

.background-blur {
  height: 100vh;
  animation: backdrop 3s ease-out;
  animation-fill-mode: forwards;
}

@keyframes backdrop {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(5px);
  }
}
