@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background-image: url("/keyvisual.webp");
  background-size: cover;
}

.background-blur {
  min-height: 100vh;
  animation: backdrop 3s ease-in;
  animation-fill-mode: forwards;
}

@keyframes backdrop {
  0% {
    backdrop-filter: blur(0px);
  }
  30% {
    backdrop-filter: blur(3px);
  }
  100% {
    backdrop-filter: blur(5px);
  }
}
